#wrapwrap .website_attachment:empty
{
	min-height: 300px;
    background-image: url('/website_attachment/static/src/img/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
}

#wrapwrap .o_editable .website_attachment:empty
{
	min-height: 300px;
    border: 3px dashed #ccc;
    background-image: url('/website_attachment/static/src/img/empty.png');
    background-position: center;
    background-repeat: no-repeat;
}

#wrapwrap .website_attachment .oe_product
{
	border: none;
}

#wrapwrap .website_attachment .oe_product .photo img
{
	max-height: 200px;
}