h3.az_list{
    /*background-color: #0084ad;*/
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
    position: relative;
    /*left: calc(50% - 26px);*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}